* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: #dfd0d0;
}

.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}