* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    perspective: 900px;
}

.container {
    width: 200px;
    height: 250px;
    position: relative;
    transform: rotateY(30deg);
    transition: 0.5s 0.7s;
}

.container:hover {
    transform: rotateY(0deg);
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 4px;
    box-shadow: 3px 10px 7px rgba(0, 0, 0, 0.2);
    transition: 0.5s
}

.container:hover img:nth-child(1) {
    transform: translateX(205px);
}

.container:hover img:nth-child(2) {
    transform: translateX(410px);
}

.container:hover img:nth-child(3) {
    transform: translateX(-205px);
}

.container:hover img:nth-child(4) {
    transform: translateX(-410px);
}